.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.button{
    padding: 5px 10px;
    cursor: pointer;
    color: black;
/*  background-color:black ; */
}

.button:disabled{
    cursor: not-allowed;
}